html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%
}

body {
  background-color: gray;
}

.chart-tl {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 43.5%;
	height: 42.5%;
	background-color: white;
}

.chart-tr {
	position: absolute;
	top: 5%;
	right: 5%;
	width: 43.5%;
	height: 42.5%;
	background-color: white;
}

.chart-b {
	position: absolute;
	bottom: 5%;
	margin-left: 5%;
	width: 90%;
	height: 42.5%;
	background-color: white;
}